*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: pink;

}
strong{
    color: blue;
}
h1{
    margin: 1em auto;
    font-size: 4em;
    width: 440px;
   
    border-bottom: 2px solid rgba(0, 0, 0, 0.377);
}
p{
    font-size: 3em;
    padding: 1px 20px
}
.container{
    position: relative;
    width: 800px;
    height: 500px;
    background-color: white;
    margin: 20px auto;
    border-radius: 20px;
}
.coracao{
    position: relative;
    rotate: -25deg;
    scale: 3;
}
.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
button{
    background: rgb(199, 199, 199);
    border: 1px solid white;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    font-size: 2.5em;
}
@media screen and (max-width:800px) {
    .container{
        width: 600px;
    }
}
@media screen and (max-width:600px){
    .container{
        width: 400px;
    }
    p{
        font-size: 1.5em;
    }
}